absl-py
APScheduler
certifi
cffi
charset-normalizer
click
colorama
colorhash
configparser
cycler
debugpy
decorator
defusedxml
entrypoints
Flask
Flask-Cors
Flask-MonitoringDashboard
gunicorn
itsdangerous 
lightgbm
Markdown
MarkupSafe 
numpy
oauthlib
packaging
pandas
Pillow
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
requests
requests-oauthlib
scikit-learn
scipy
Send2Trash
six
SQLAlchemy
statsmodels
testpath
urllib3
xgboost
zipp
