{% extends 'base.html' %}
{% block title %}
About App 
{% endblock title %}

{% block body %}
<br><br><br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <strong><h1 align="center" style="color:rgb(22, 18, 248);">Greetings!</h1></strong>
            <p>Welcome to the Complete Heathcare Portal. Here you would be getting most of the medical services free of cost. It's an Artificially Intelligent application which is going to help both patients and doctors according to their need. It takes into account carefully trained Machine Learning models for the process of decision making. "Upcoming Services" in navigation bar would let you know about the list of the projects which are currently work in process. This is the first release of <a style="color:rgb(22, 18, 248);" href="https://complete-healthcare.herokuapp.com/"><b>Complete Healthcare</b></a>, we would be adding more features for future releases. Stay tuned for exciting updates!</p>
            <p align = 'center'>
                <a class="btn btn-primary" href="/" role="button">Home Page&raquo;</a>
            </p>
        </div>
    </div> <br><br>
</main>
{% endblock  body%}
