{% extends 'base.html' %}
{% block title %}
Breast Cancer Prediction
{% endblock title %}
{% block body %}

  
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Know your chances of getting Breast Cancer in one Click!</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img src="/static/img/breast.jpg" class="float-left">
            <h3>{{ prediction_text }}<h3>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict_cancer')}}" method="POST">
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <br><br><br>
                <label for="concave points_mean">Area Se</label>
                <input class="form-control" type="text", id="area_se" name="area_se" required="required" placeholder="e.g. 56.42">
              </div>
              <div class="form-group">
                <label for="area_mean">Texture Mean</label>
                <input class="form-control" type="text" id="texture_mean" name="texture_mean" required="required" placeholder="e.g. 25.22">
              </div>
              <div class="form-group">
                <label for="radius_mean">Mean of the Concavity</label>
                <input class="form-control" type="text" id="concavity_mean" name="concavity_mean" required="required" placeholder="e.g 0.31300">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Symmetry Worst</label>
                <input class="form-control" type="text" id="symmetry_worst" name="symmetry_worst" required="required" placeholder="e.g. 0.4228">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Smoothness Worst</label>
                <input class="form-control" type="text" id="smoothness_worst" name="smoothness_worst" required="required" placeholder="e.g. 0.14820">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Symmetry Mean</label>
                <input class="form-control" type="text" id="symmetry_mean" name="symmetry_mean" required="required" placeholder="e.g. 0.2111">
              </div>
              <div class="form-group">
                <label for="concavity_mean">Fractal Dimension Worst</label>
                <input class="form-control" type="text" id="fractal_dimension_worst" name="fractal_dimension_worst" required="required" placeholder="e.g. 0.11750">
              </div>
              <button type="submit" class="btn btn-danger">Predict</button><br><br>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>
{% endblock body %}